<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">MonkeyDo</h1>
        <div class="row center">
            <h5 class="header col s12 light">A modern ToDo list!</h5>
        </div>
        <div class="row center">
            <!--  <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
            </div>-->
            <br><br>
        </div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">thumb_up</i></h2>
                        <h5 class="center">Keeps you organized</h5>
                        <p class="light">MonkeyDo keeps you organized at all the times. Home, on work, on the go. Everywhere!</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">Perfect for both couples and families</h5>

                        <p class="light">You can have a list for each person, but also common lists that keeps you in synch.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Easy to work with</h5>

                        <p class="light">MonkeyDo is both easy and intuitive, but with a lot of great options for personalization</p>
                    </div>
                </div>
            </div>
        </div>
        <br><br>

        <div class="section"></div>
    </div>
</div>