<div class="task-container">
    <div class="content-task-container">
        <div class="row">
            <div class="input-field col s10">
                <input id="task_input" type="text" ng-model="task">
                <label for="task_input">Write task here</label>
            </div>
            <div class="btn-add">
                <a class="btn-floating" id="btn-add-task"><i class="material-icons" ng-click="addTask(task)">add</i></a>
            </div>
        </div>
        <div class=show-tasks ng-repeat="task in tasks track by $index">
            <p>
                <input type="checkbox" id="task-{{$index}}"/>
                <label for="task-{{$index}}">{{task}}</label>
            </p>
        </div>
    </div>
</div>