/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* Icon styling */
.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.center-dark-blue {
    text-align: center;
    color: #26a69a;
}


/* Side-nav */
.side-nav {
    width: 150px;
    transform: translateX(0%);
    background-color: #26a69a;
}

/* Main page */
main {
    padding-left: 40px;
    width: 100%;
    overflow: hidden;
    padding-top: 60px;
}

#wrapper {
    padding-left: 150px;
    overflow: hidden;
}

/* List of tasks styling */
.task-container {
    width: 550px;
    overflow: hidden;
    padding-bottom: 30px;
}

.content-task-container {
    width: inherit;
    height: inherit;
    border: solid #26a69a;
    padding: 20px;
    overflow: hidden;
}

.show-tasks {
    padding-left: 10px;
}

#btn-add-task {
    text-align: center;
    background-color: orange;
}

.btn-add {
    padding: 20px;
    box-shadow: none;
}


/* Styling for input field */

label {
    color: black;
}

/* label color */
.input-field label {
    color: #000;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: orange;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid orange;
    box-shadow: 0 1px 0 0 orange;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}



/* Styling for top-nav */
#top-nav {
    background-color: transparent;
}

#top-nav a {
    color: black;

}

#top-nav a:hover {
    color: black;
}

nav {
    height: 60px;
    padding-left: 20px;
    box-shadow: none;
    background-color: transparent;
    color: black;
    padding-right: 20px;
}

/* Modal add button */
#modal-add-list {
    background-color: orange;
}

#choose-category {
    padding-left: 4px;
}

#list-header {
    color: orange;
}

