/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.side-nav {
    width: 150px;
    transform: translateX(0%);
}

nav {
    height: 60px;
    padding-left: 20px;
    background-color: orange;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    padding-left: 20px;
    padding-bottom: 250px;
    padding-top: 20px;
}

footer {
    height: 200px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

#wrapper {
    min-height: 100%;
    position: relative;
    padding-left: 150px;
}

.task-container {
    width: 550px;
    height: 600px;
}

.content-task-container {
    width: inherit;
    height: inherit;
    padding: 10px;
    background-color: lightsteelblue;
}



#btn-add-task {
    text-align: center;
    background-color: orange;
}

.btn-add {
    padding: 20px;
}

.header-task-container {
    font-family: Roboto;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
}

footer {
    height: 85px;
}

label {
    color: black;
}

#add-list {
    margin-bottom: 15px;
}
