<div class="task-container">
    <div class="content-task-container">
        <div layout="row">
            <div flex>
                <h5 id="list-header">{{list.taskList.listName}}</h5>
            </div>
            <div layout-align="end">
                <md-menu>
                    <md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                        <i class="material-icons">more_horiz</i>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button disabled="true">
                                <i class="material-icons">delete_forever</i>
                                &nbsp;&nbsp; Delete
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button disabled="true">
                                <i class="material-icons">mode_edit</i>
                                &nbsp;&nbsp; Rename list
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s10">
                <input id="task-input-{{$index}}" type="text" ng-model="newtask">
                <label for="task-input-{{$index}}">Write task here</label>
            </div>
            <div class="btn-add" type="submit">
                <a class="btn-floating" id="btn-add-task"><i class="material-icons" ng-click="addTask(list)">add</i></a>
            </div>
        </div>
        <div class="show-tasks" ng-repeat="task in list.tasks track by $index">
            <div class="row">
                <label>
                    <md-checkbox ng-checked="isDone(task)" ng-click="toggle(task)">{{ task.taskName }}</md-checkbox>
                </label>
                <md-button class="md-icon-button md-accent" id="btn-delete" ng-click="delete(task, list.tasks)">
                    <md-icon md-font-icon="clear" style="color:black">clear</md-icon>
                </md-button>
            </div>
        </div>
    </div>
</div>
